<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container main-header col-xs-12">
    
    <div class="header-left col-sm-6 col-xs-12">
      <h1 class="blog-title">It's Blogging Time with Andy</h1>
    </div>
    
    <div class="header-right col-sm-6 col-xs-12">
      <p class="navbar-text text-center">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong></br>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <!--<h3 class="btn btn-primary btn-lg pull-right"><%= link_to 'New Post', new_post_path %></h3>-->
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
    
  </div>
  
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

<script>
  // $('.post-date').click(function() {
  //   $(this).fadeOut(5000);
  // });
  
  // $('.index-post').mouseenter(function() {
  //   $(this).css({
  //     'background-color': 'blue',
  //     'height': '300px',
  //     'width': '1200px'
       
  //   });
  // });
  
  // $('.index-post').mouseleave(function() {
  //   $(this).css('background-color', 'green');
  // });
  
</script>

</body>
</html>
